
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h1 class="display-1">Merhaba Ben Senin Jarvis'in olacağım</h1>
<a class="btn btn-danger" href="/admin/merhaba/index">Admin Alanları</a>
<a class="btn btn-info" href="/user/merhaba/index">User Alanları</a>

<partial name="_alan" />