
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_userLayout.cshtml";
}

<h1>Index</h1>
<h1 class="display-3">Hoş Geldin Kullanıcı! Burada Senin için sunduğumuz hizmetlerden faydalanabilir. Senin için oluşturduğum seçenekleri değerlendirebilirsin</h1>

