/*
        Written & Coded By SuDeep Jaiswal
        Name: Portfolio v0.1
        Contest Name; Portfolio Code Contest By Man of Action
        Date: Fab 04, 2020
        //Feel free to suggest any new idea for making it more awesome....
        Tap on Play Button for navigate into second page
*/

.Jdiv {
    background-color: #011C2D;

    font-family: Iceberg;
}
