
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}

<h1>Index</h1>
<h1 class="display-2">Merhaba Sen Bu otomasyonun Başkan Yöneticisi olacaksın </h1>

